* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

main {
  height: 100vh;
  width: 576px;
  background-color: #ffffff;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#logo {
  width: 80px;
}

.Intro {
  margin-top: 30px;
  text-align: center;
}

#heading {
  font-size: 1.8rem;
}

.light {
  color: #969696;
}

.dark {
  color: #151f29;
  font-weight: 700;
}

#subscribe {
  color: #151f29;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 300;
}

form {
  margin: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#email {
  border: 1px solid #c2d3ff;
  text-align: left;
  text-indent: 25px;
}

#email:focus {
  outline: none;
}

#email::placeholder {
  color: #c2d3ff;
  font-size: 0.9rem;
  padding-left: 20px;
  font-family: "Libre Franklin", sans-serif;
}

#email,
button {
  height: 50px;
  width: 400px;
  border-radius: 25px;
}

button {
  background-color: #4f7df3;
  border: none;
  color: #ffffff;
  box-shadow: 2px 5px 4px -3px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 2px 5px 4px -3px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 2px 5px 4px -3px rgba(0, 0, 0, 0.57);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#error {
  margin-top: 2px;
  color: #ff5263;
  font-size: 0.8rem;
  text-align: center;
}

#illustration {
  margin-top: 40px;
  width: 530px;
  height: 280px;
}

.icon {
  font-size: 1.4rem;
}

footer {
  margin-top: 100px;
  width: 576px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-brands {
  border: 0.2px solid #eaecf1;
  margin: 10px;
}

.fa-facebook-f {
  padding: 10px 15px;
  border-radius: 20px;
}

.fa-twitter {
  padding: 10px;
  border-radius: 20px;
}

.fa-instagram {
  padding: 10px;
  border-radius: 22px;
}

.copyright {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #969696;
  padding-bottom: 5px;
}

.attribution {
  font-size: 12px;
  margin-bottom: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {
  main {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  #heading {
    font-size: 2.4rem;
    word-spacing: 2px;
  }

  form {
    margin: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  #email {
    width: 350px;
  }

  #submit {
    width: 170px;
  }

  #error {
    margin-top: 2px;
    color: #ff5263;
    font-size: 0.8rem;
    text-align: start;
    padding-left: 10px;
  }

  #illustration {
    margin-top: 30px;
    width: 540px;
    height: 380px;
  }
}
